<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title | default: metadata.title }}</title>
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
		<link rel="stylesheet" href="/assets/style.css">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">

		<!-- Social -->
		<meta property="og:title" content="{{ title | default: metadata.title }}">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="{{ metadata.title }}">
		<meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
		{% if image %}
			<meta property="og:image" content="{{ image }}">
		{% endif %}
		
		<meta name="twitter:site" content="{{ metadata.author.twitter }}">
		{% if image %}
			<meta name="twitter:image" content="{{ image }}">
			<meta name="twitter:card" content="summary_large_image">
		{% endif %}


		<script src="/assets/script.js"></script>
	</head>
	<body>
		{% include '_nav.html' %}
		{{ content }}
	</body>
</html>